@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 62.5%;
		line-height: 1.3;
	}
	* {
		font-family: 'Be Vietnam Pro', sans-serif;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;
	}

	textarea {
		height: 100%;
	}
	a {
		@apply text-action-link;
	}
	img {
		@apply h-full w-full;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		@apply font-bold;
	}

	h1 {
		@apply text-heading-1;
	}
	h2 {
		@apply text-heading-2;
	}
	h3 {
		@apply text-heading-3;
	}
	h4 {
		@apply text-heading-4;
	}
}

@layer components {
	.baseInput {
		@apply flex w-full items-center gap-compact rounded-[3px] border-[1px] border-primary-5555-20 px-cozy py-compact focus-within:border-transparent  focus-within:outline focus-within:outline-[2px] focus-within:outline-primary-5555;
	}

	.btn {
		@apply rounded-[8px] border-[1px] border-primary-5555 bg-primary-625 p-[12px] text-body-md font-bold text-neutral-gray-1 disabled:pointer-events-none disabled:opacity-[70%];
	}

	.btnSecondary {
		@apply bg-white text-primary-625;
	}

	.select {
		@apply rounded-[4px] border-[1px] border-primary-625 bg-transparent px-cozy py-compact text-body-md text-primary-5555;
	}

	.section-home {
		@apply py-[80px];
	}
}

@layer utilities {
	.flex-col-center {
		@apply flex flex-col items-center;
	}
	.flex-col-start {
		@apply flex flex-col;
	}
	.flex-col-end {
		@apply flex flex-col items-end;
	}
	.flex-row-center {
		@apply flex justify-center;
	}
	.flex-row-between {
		@apply flex justify-between;
	}

	.inputDisabled {
		@apply bg-neutral-gray-3 text-neutral-500;
	}
	.inputError {
		@apply outline outline-[2px] outline-status-error focus-within:outline-primary-5555;
	}

	.helperTextError {
		@apply text-status-error;
	}
	.helperTextSuccess {
		@apply text-status-success;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
}
