{
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"overrides": [
		{
			"files": ["*.ts", "*.tsx", "*.js"],
			"parser": "@typescript-eslint/parser"
		}
	],
	"extends": [
		"next",
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:prettier/recommended",
		"plugin:tailwindcss/recommended"
	],
	"plugins": ["prettier", "@typescript-eslint", "tailwindcss"],
	"rules": {
		"prettier/prettier": [
			"warn",
			{
				"arrowParens": "always",
				"bracketSameLine": false,
				"bracketSpacing": true,
				"semi": false,
				"singleQuote": true,
				"jsxSingleQuote": true,
				"quoteProps": "as-needed",
				"trailingComma": "all",
				"singleAttributePerLine": true
			}
		],
		"tailwindcss/no-custom-classname": "error",
		"tailwindcss/no-contradicting-classname": "error",
		"tailwindcss/enforces-negative-arbitrary-values": "error",
		"tailwindcss/enforces-shorthand": "warn",
		"no-unused-vars": "off",
		"prefer-const": [
			"error",
			{
				"destructuring": "any"
			}
		],
		"max-lines": [
			"error",
			{
				"max": 500,
				"skipBlankLines": true,
				"skipComments": true
			}
		]
	}
}
